@page "/error/denegado"
@model Clients.WebClient.Pages.Errors.DenegadoModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row col-lg-12">
            <div class="col-lg-5">
                <div class="ibox-content mt-3 text-right">
                    <img src="~/img/triste.png" alt="Acceso No Autorizado" width="250">
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <p class="h2 mt-5 text-danger">No cuenta con permiso para accesar a este módulo, por favor contacte al administrador del sistema.</p>
            </div>
        </div>
    </div>
</div>


